<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870690161174-hkdq552e1mkj5kboo8gko84eno3rktik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870690161174-hkdq552e1mkj5kboo8gko84eno3rktik</string>
	<key>API_KEY</key>
	<string>AIzaSyCrAEUgqtw6-9emHV5Mi3CaDX1OM-DmBpU</string>
	<key>GCM_SENDER_ID</key>
	<string>870690161174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrmsApp</string>
	<key>PROJECT_ID</key>
	<string>hrms-815a7</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-815a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870690161174:ios:a9dbd0fde83fe07e346b37</string>
</dict>
</plist>